#--------------------------#
# Global Files Types       #
#--------------------------#
.modgit/
.svn*
*.bkp
*.old
js_bkp/
js.old/
sitemap.xml
*.log
*.sql
*.tar.*
*.gz
*.rar
*.zip
*.bz2
*.bz
*.tgz
*.gzip
*.tb2
*.tbz2
*.pdf
*.log
*.swm
*.swn
*.swp
*.swo
*.*~

#--------------------------#
# IDE Project Files/Folder #
#--------------------------#
/sites/
.vagrant/
